.log
.checkstyle

# gradle
.gradle
build/

# idea
*.iml
.idea/

# eclipse
.classpath
.project
.settings
bin/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
